extends ./_layout.pug

block head
	title='Homepage'

block content
	.navigation__container
		.navigation__links
		.navigation__logo
	section.intro-section( style=`background-image: url(${page.introImage})` )
		.intro-section__container
			h1.intro-section__headline=page.introHeadline
			button.intro-section__cta-btn=page.introLabel
