.navigation__container {
	display: flex;
	flex-direction: row;
	justify-content: space-bewteen;
	position: relative;
}

.navigation__links {
	color: $white;
	font-size: $font__size-h3;
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
}

.navigation__logo {
	background-image: url('http://res.cloudinary.com/dva1sf6ie/image/upload/v1502472413/logo_nthsap.png');
	position: absolute;
    right: 30px;
    top: 30px;
    height: 108px;
    width: 118px;
    background-size: cover;
    background-position: center center;
}